# Hem backend hem frontend içindeki node_modules klasörlerini engeller
**/node_modules/

**/uploads

# Derleme (build) çıktılarını engeller
.next/
dist/
build/

# Gizli ayar dosyalarını engeller
.env
.env.local